@mixin images-low($w,$h) {
    width: $w;
    height: $h;
}
@mixin varflex($jc,$ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    
}
@mixin grid($gc,$gr) {
    display: grid;
    grid-template-columns: $gc;
    grid-template-rows: $gr;
    
}
@mixin body($h,$bgc) {
    padding: 0;
    margin: 0;
    height: $h;
    background-color: $bgc;
    font-family: sans-serif; 
}
@mixin margain($m,$p) {
    margin:$m;
    padding: $p;
}
$maincolor: #12a4d9;
$maincolor2:  #234E70;
$maincolor3: #FBF8BE;
$maincolor4:  #CCF381;
$textcolor: #fff;
$textcolor2: #000;
$cardcolor:cadetblue;




