@import "../mixins/variables";

nav{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    gap: 20px;
    width: 50%;
    @include varflex(flex-start, center);
}
.pages{
    @include varflex(center,center);
    gap: 20px;
}

.nav-right{
    width: 50%;
    gap: 15px;
    @include varflex(flex-end, center);
}
.bell{
    display: flex;
    justify-content: flex-end;
}
nav, footer{
    @include images-low(100%,none);
    background-color: $maincolor2;
    color: $textcolor;
    
}
.page1{
    border-bottom: 3px solid $textcolor;
}

@media only screen and (max-width: 800px) {
    nav{
        height: 7vh;
    }
}
@media only screen and (max-width: 360px){
    .pages, .nav-left,.nav-right i {
        gap: 10px;
        font-size: 14px;
    }
    
}